{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Articles</h1>

    <ul>
        {% for article in articles %}
            <li>{{ article.name }} - {{ article.author }} - {{ article.createdAt|date }}</li>
            {% if article.imageUrl is not null %}
                <img src="{{ article.imageUrl }}" style="width: 100%;">
            {% endif %}
            <p>{{ article.content|nl2br}}</p>
        {% endfor %}
    </ul>

</div>
{% endblock %}
